<div class=".col-md-offset-3.col-md-6">

    <form name="questions">

        <fieldset>

            <div class=".col-md-offset-2.col-md-6">

                <h1>This is a survey!!!</h1>

                <!-- <label class="btn input-group-btn" name="{{ selectedQuestion._id }}"
                        ng-repeat="answer in selectedQuestion.Answers" onchange="checked()" ng-show="isSingle">
                     <input class="answers" type="radio" name="{{ selectedQuestion._id }}">
                     <span class="title">{{ answer.Text }}</span>

                 </label>
                 <label class="btn input-group-btn" name="{{ selectedQuestion._id }}"
                        ng-repeat="answer in selectedQuestion.Answers" onchange="checked()" ng-show="isMultiple">
                     <input class="answers" type="checkbox" name="{{ selectedQuestion._id }}">
                     <span class="title">{{ answer.Text }}</span>

                 </label>
                 <label class="btn input-group-btn" name="{{ selectedQuestion._id }}"
                        ng-repeat="answer in selectedQuestion.Answers" onchange="checked()" ng-show="isMultiple">
                     <input class="answers" type="checkbox" name="{{ selectedQuestion._id }}">
                     <span class="title">{{ answer.Text }}</span>
                 </label>
                 <span class="glyphicon glyphicon-star" ng-repeat="answer in selectedQuestion.Answers" ng-show="isStar"></span>
                 <input class="answers" type="radio" name="{{ selectedQuestion._id }}">-->
            </div>
        </fieldset>
    </form>
</div>

