<div class="container">
    <div class="row">
        <div class="box">
            <div id="mobile" class="col-lg-12 text-center">
                <div class="row">
                    <fieldset>
                        <div class="col-sm-3">
                            <span class="glyphicon glyphicon-menu-left" ng-click="backward()"></span>
                        </div>
                        <div class=".col-md-offset-2.col-sm-6">
                            <div id="slide1_container" class="shadow">
                                <div id="slide1_images" ng-style="{width: noSlidesWidth}">
                                    <div class="question" ng-repeat="question in thisSurvey.Questions"
                                         ng-model="question._id">
                                        <h2>{{ question.Title}}</h2>

                                        <!--LABEL-->

                                        <label class="btn input-group-btn"
                                               ng-repeat="answer in question.Answers" onchange="checked()" name="{{ question._id }}">

                                            <!--INPUT NON TEXT-->
                                            <input ng-show="!answer.Other" class="{{ question.Type }} form-control"
                                                   type="{{ question.Type }}" name="group_{{ question._id }}"
                                                   ng-click="clickedAnswer(answer)"
                                                   id="{{answer._id}}" name="{{ question._id }}">

                                            <input ng-show="answer.Other" class="text form-control" type="text"
                                                   name="group_{{ question._id }}"
                                                    ng-click="clickedAnswer(answer)"
                                                   id="{{answer._id}}" name="{{ question._id }}" ng-model="selectedAnswer.Text">

                                            <!--INPUT TEXT-->

                                            <!--SPANS-->

                                            <span ng-show="answer.Other">{{ answer.Text }}</span>

                                            <span ng-show="!answer.Other">{{ answer.Text }}</span>

                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 pull-right" id="submitButton">
                                <span class="glyphicon glyphicon-menu-right" ng-click="forward();"
                                      ng-show="notEndOfSurvey"></span>
                                <button class="btn btn-success" ng-show="endOfSurvey" ui-sref="thankyou"
                                        ng-click="submitResponse()">Submit!
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var checked = function () {
        $("input:not(:checked)").parent().closest("label").css("background-color", "crimson").css("color", "white");
        $("input:checked").parent().closest("label").css("background-color", "cornflowerblue").css("color", "white");
    }
</script>
<script>
    /*var urls = new Array("https://www.surveymonkey.co.uk/r/JJH9SX9", "http://backtapp.herokuapp.com/example/takeSurvey/577ab7f8dca19b0300066926");
     var redirect = function()
     {
     console.log("working");
     window.location = urls[Math.floor(urls.length*Math.random())];
     };

     redirect();*/

</script>