

<div class="row" ng-if="main.loggedIn" ng-controller="CreateSurveyController as survey">

    <div class="col-md-12">
        <h1>Making a new survey</h1>


        <div class=".col-md-5-offset-2 .col-md-5">
            <div class="row">
                <div class="panel panel-success" id="newSurvey">
                    <div class="panel-heading">Survey</div>
                    <div class="panel-body">
                        <label for="Name">What is the name of your survey?</label>
                        <input type="text" name="Name" id="Name" ng-model="Survey.Title"/>
                        <button class="btn btn-success" ng-click="startCreate()">Go!</button>
                        <button class="btn btn-success" ng-if="showCancel" ui-sref="home">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7 pull-right">
            <div class="row">
                <div class="panel panel-success" id="newQuestions">
                    <div class="panel-heading">Questions</div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <label for="Title">Question Title:</label>
                                        <input type="text" name="Title" id="Title"
                                               placeholder="Type question title here..." ng-model="NewQuestion.Title"/>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="Type">Answer Type:</label>
                                        <select id="Type" ng-model="NewQuestion.Type" ng-change="checkType()">
                                            <option value="radio">Radio</option>
                                            <option value="checkbox">Checkbox</option>
                                            <option value="text" >TextInput</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-success pull-right" data-toggle="collapse"
                                                data-target="#answers" aria-expanded="false"
                                                aria-controls="answers"><span
                                                class="glyphicon glyphicon-plus"></span>Add Answers</button>
                                        <button type="button" class="btn btn-success pull-right" ui-sref="success" ng-click="SaveSurvey()">
                                            <span class="glyphicon glyphicon-floppy-save"></span>  Save Survey
                                        </button>

                                    </div>

                                </div>
                            </div>

                            <div class="panel collapse" id="answers" data-toggle="collapse">

                                <!-- List group -->
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="answer in Answers">

                                        {{ answer.Text }} <button type="button" class="btn btn-success"
                                                                  ng-click="removeAnswer($index)"><span
                                            class="glyphicon glyphicon-minus"></span>
                                    </button>

                                    </li>

                                </ul>
                                <div class="row answers">

                                    <div class="col-sm-5">
                                        <label for="Text">Answer:</label>
                                        <input type="text" name="Text" id="Text"
                                               placeholder="Type answer here..." ng-model="NewAnswer.Text"/>
                                        <div class="checkbox">
                                            <label><input type="checkbox" ng-model="other" id="other" ng-click="$event.stopPropagation()" value="other">Other?(textfield)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-success pull-right"
                                                ng-click="AddAnswer(NewAnswer.Text)"><span
                                                class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <button type="button" class="btn btn-success pull-right"
                                            ng-click="AddQuestion(NewQuestion)"><span
                                            class="glyphicon glyphicon-plus" id="QSubmit"></span>Save Question
                                    </button>
                                </div>
                            </div>

                            <div class="row row-padded">
                                <div class="row" ng-repeat="question in Questions">
                                    <div class="row">
                                        <h3>{{ question.Title }} - {{ question.Type }}</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <li ng-repeat="Answer in question.Answers">
                                                    {{Answer.Text}}
                                                </li>
                                        </div>
                                        <div class="col-md-5" id="skipLogic">
                                        <div class="checkbox">
                                            <label><input  type="checkbox" ng-model="skipLogic" ng-click="skipTool()" value="skip">Skip logic?</label>
                                        </div>
                                        </div>
                                        <div class="col-md-5" ng-show="skipLogic">
                                            <label for="Text">If answer is:</label>
                                            <input type="text" name="Text"
                                                   placeholder="Type No." ng-model="SkipA"/>
                                            <label for="Text">Go to Question:</label>
                                            <input type="text" name="Text"
                                                   placeholder="Type No." ng-model="SkipQ"/>
                                        </div>
                                        <button type="button" class="btn btn-success pull-right"
                                                ng-click="removeQuestion($index)"><span
                                                class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-3">


        </div>


    </div>
    </div>
