<div class="row">

    <div class="col-md-12">
        <h1>Existing Surveys</h1>
        <br>
        <br>
        <div class="col-sm-4" id="existingSurveys">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">Your Surveys</div>
                    <div class="panel-body">
                        <div class="col-sm-8 col-sm-offset-1">
                            <div class="btn-group" ng-repeat="survey in mySurveys">
                                <button type="button" class="btn btn-success dropdown-toggle" id="{{survey._id}}"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ survey.Title }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="{{survey._id}}">
                                    <li><a href="#" ng-click="surveyClicked(survey); showSurvey();">Preview/Edit</a>
                                    </li>
                                    <li><a href="#" ng-click="showDeleteAlert(survey)">Delete</a></li>
                                    <li><a href="#" ng-click="showUrlAlert(survey)">Get URL</a></li>
                                </ul>
                                <div class="alert alert-danger" role="alert" id="delete{{survey._id}}">
                                    <strong>Warning!</strong> If you're sure you want to delete, <a href="#"
                                                                                                    ng-click="deleteSurvey(survey)"
                                                                                                    class="alert-link">click
                                    here</a>.
                                    <span class="glyphicon glyphicon-remove" ng-click="hideDeleteAlert(survey)"></span>
                                </div>
                                <div class="alert alert-success" role="alert" id="url{{survey._id}}">
                                    <strong>URL = </strong><a ng-click="goToSurvey(survey)" class="alert-link">example/takeSurvey/{{survey._id}}</a>.
                                    <span class="glyphicon glyphicon-remove" ng-click="hideUrlAlert(survey)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 pull-right">
            <div class="row">
                <div class="panel panel-info" id="thisSurvey">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-4">
                                <p ng-show="!editingTitle">{{clickedSurvey.Title}}&nbsp<span
                                        class="glyphicon glyphicon-edit" ng-click="editTitle()"></span>
                                </p>
                                <textarea ng-show="editingTitle"
                                          ng-model="clickedSurvey.Title">{{clickedSurvey.Title}}</textarea>
                                <span class="glyphicon glyphicon-save-file" ng-show="editingTitle"
                                      ng-click="saveTitle()"></span>
                            </div>
                            <div class="col-md-3 pull-right">
                                <span class="glyphicon glyphicon-remove pull-right" ng-click="cancelSurvey()"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Select a question: <span class="caret"></span>{{ question.Type }}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="question in clickedSurvey.Questions"
                                            ng-click="questionClicked(question)" ui-sref=".Preview">{{ question.Title }}
                                        </li>
                                        <li ng-click="showAddQuestion()"><span class="glyphicon glyphicon-plus"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="btn group">
                                    <button type="button" class="btn btn-warning" ng-show="showDelete"
                                            ng-click="editQuestion()">Edit
                                        Question
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="deleteQuestion()"
                                            ng-show="showDelete">Delete
                                        Question
                                    </button>
                                    <button type="button" class="btn btn-success" ng-show="showAddQ"
                                            ng-click="saveNewQuestion()">Save
                                        Question
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2 pull-right" id="saveSurvey">
                                <button type="button" class="btn btn-success pull-right"
                                        ng-click="saveSurvey()"
                                >Save Survey
                                </button>
                            </div>
                        </div>
                        <div class="row-centered" ng-show="showDelete && !showAddQ">
                            <h4>Question Title:</h4>
                            <p ng-show="!editingQuestion">{{selectedQuestion.Title}}</p>
                            <div class="well" ng-show="editingQuestion">
                                <textarea ng-show="editingQuestion" ng-model="selectedQuestion.Title">{{ selectedQuestion.Title }}</textarea>
                            </div>

                        </div>
                        <div class="row-centered" ng-show="showAddQ">
                            <h4>Question Title:</h4>
                            <div class="well">
                                <textarea ng-model="newQuestion.Title">{{ newQuestion.Title }}</textarea>
                            </div>

                        </div>
                        <button type="button" class="btn btn-success" ng-show="editingQuestion"
                                ng-click="saveQuestionTitle()">Save
                        </button>
                        <div class="row-centered">
                            <div class="col-md-12" ng-show="showAddQ">
                                <div class="col-md-6">
                                    <h4>Question Type:</h4>
                                    <select id="Type" ng-model="newQuestion.Type">
                                        <option value="radio">Radio</option>
                                        <option value="checkbox">Checkbox</option>
                                        <option value="text">TextInput</option>
                                    </select>
                                    <h4>Answers:</h4>
                                    <textarea ng-model="newAnswer.Text">Enter Answer here...</textarea>
                                    <span class="glyphicon glyphicon-plus" ng-click="addNewAnswer()"></span>
                                </div>
                                <div class="col-md-6">
                                    <li ng-repeat="answer in newAnswers">
                                        {{answer.Text}}
                                        <button type="button" class="btn btn-success"
                                                ng-click="removeAnswer($index)"><span
                                                class="glyphicon glyphicon-minus">
                                            </span>
                                        </button>
                                    </li>
                                </div>
                            </div>
                            <div class="col-md-5" ng-show="editingQuestion">
                                <h4 ng-show="editingAnswers">Answers:</h4>
                                <div class="well" ng-show="editingAnswers">
                                    <div ng-repeat="answer in selectedQuestion.Answers">
                                        <textarea ng-model="answer.Text">{{answer.Text}}</textarea>
                                        <span class="glyphicon glyphicon-remove"
                                              ng-click="removeOldAnswer($index)"></span>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success" ng-show="editingAnswers"
                                        ng-click="saveAnswers()">Save
                                </button>
                                <button type="button" class="btn btn-success" ng-show="editingAnswers"
                                        ng-click="addAnswer()"><span
                                        class="glyphicon glyphicon-plus"></span>New
                                </button>
                            </div>
                            <div class="col-md-6" ng-show="!showAddQ">
                                <div class="container">
                                    <div ui-view>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
</div>
</div>

</div>
</div>
