
<div class="jumbotron text-center" ng-if="!main.loggedIn">

    <div>
        <h1>Welcome to BackTapp!</h1>
        <h2>A simple survey builder to create a better mobile experience</h2>
    </div>

    <div>
        <p>Please log in or sign up to continue</p>
        <a ui-sref="login" class="btn btn-success lg">Log in</a>
        <a ui-sref="signup" class="btn btn-success lg">Sign up</a>

    </div>
</div>


<div class="row" ng-if="main.loggedIn">

    <div class="col-md-3">


    </div>
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="row">
                <h2>Hi {{ main.user.username }},<br> what would you like to do?</h2>
                <div class="row" id="menubuttons">
                    <div class="col-sm-12">
                        <a ui-sref="createSurvey" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-tasks"></span>Create New Survey</a><br><br>
                        <a ui-sref="existingSurveys" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-folder-open"></span>View Existing Survey</a><br><br>
                        <a ui-sref="home" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-stats"></span>View Results</a><br><br>
                        <a ui-sref="home" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-book"></span>User Guide</a><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3">


    </div>


</div>