<div class="preview">

    <form name="questions" id="previewBox">

        <fieldset>

            <div class=".col-md-6-offset-2 .col-md-6">

                <label class="btn input-group-btn" name="{{ selectedQuestion._id }}"
                       ng-repeat="answer in selectedQuestion.Answers" onchange="checked()" ng-show="isRadio">
                    <span class="title">{{ answer.Text}}</span>
                    <input ng-show="!answer.Other" class="answers" type="radio" name="{{ selectedQuestion._id }}" id="{{ answer._id }}">
                    <input ng-show="answer.Other" class="answers form-control" type="text" name="{{ selectedQuestion._id }}" id="{{ answer._id }}">
                </label>
                <label class="btn input-group-btn" name="{{ selectedQuestion._id }}"
                       ng-repeat="answer in selectedQuestion.Answers" onchange="checked()" ng-show="isCheckbox">
                    <input class="answers" type="checkbox" name="{{ selectedQuestion._id }}" id="{{ answer._id }}">
                    <span class="title">{{ answer.Text }}</span>
                </label>
                <label class="btn input-group-btn" name="{{ selectedQuestion._id }}"
                       ng-repeat="answer in selectedQuestion.Answers" ng-show="isText">
                    <span>Type here:</span>
                    <input type="text" class="form-control" name="{{ selectedQuestion._id }}"
                           placeholder="Type answer here..." id="{{ answer._id }}"/>
                </label>
            </div>
        </fieldset>
    </form>
</div>
<script>
    var checked = function () {
        $("input:not(:checked)").parent().closest("label").css("background-color", "crimson").css("color", "white");
        $("input:checked").parent().closest("label").css("background-color", "cornflowerblue").css("color", "white");
    }
</script>