<div class="container" ng-controller="UserCreateController as user">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<h1>Signup!</h1>
				<form  autocomplete="false" class="form-sigin" method="post" ng-submit="user.signupUser()">
					Name: <input type="text" name="name" class="form-control" ng-model="user.userData.name">
					Username: <input type="text" name="username" class="form-control" ng-model="user.userData.username">
                    <p class="error">{{ error }}</p>
                    Password: <input type="password" name="password" class="form-control" ng-model="user.userData.password">
                    <p class="error">{{ errorTwo }}</p>
                    <button type="submit" class="btn btn-default">Signup</button>
				</form>
			</div>
		</div>
</div>


 