<div class="row">

    <div class="col-md-12">
        <h1>User Guide</h1>

        <div class=".col-md-10-offset-2 .col-md-8">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading" style="text">Documentation</div>
                    <div class="panel-body">

                        **FAQS COMING SOON**

                        <h4>Creating a survey</h4>

                        To create a survey, you can visit the 'Create Survey' page and put together questions with three types.

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
