<div class="row">

    <div class="col-md-12">
        <h1>User Guide</h1>

        <div class=".col-md-10-offset-2 .col-md-8">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading" style="text">Documentation</div>
                    <div class="panel-body">
                        <h4>Creating a survey</h4>
                        To create a survey, you can visit the 'Create Survey' page. You can add new questions to a
                        survey, with a choice of 'single choice', where the respondent can select only one answer,
                        multiple choice, where they can select more than one answer, and text where they can freely type
                        their answer. When adding answers, you can choose to add skip logic, whereby any question numbers
                        entered will be skipped if this answer is chosen by the respondent. You can also select the
                        'other' option which enables the respondent to type text. Remember to click 'save survey' when
                        you have finished.
                        <br>
                        <br>
                        <h4>Editing a survey</h4>
                        To edit a survey, you can navigate to the 'Existing Surveys' page. Here you can select a survey
                        and a question within that survey to see a preview of the question, as the respondent would.
                        You can select 'edit question' to amend or delete an answer to a question. You can select
                        'add new question' in the dropdown menu to add a new question. You can also delete a question
                        by clicking 'delete question', though remember to check that there is no skip logic associated
                        with the question, as you will need to amend this if so.
                        To get the URL of a survey, click the 'get URL' button in the survey button dropdown.
                        <br>
                        <br>
                        <h4>Viewing Results</h4>
                        You can view the results of a survey by navigating to the 'View Results' page. Here you can
                        see a graphical representation of the results overall. You can also view each individual result
                        below by clicking on a number.
                        To download a CSV file (suitable to view all the results in Excel/Numbers), you can click the
                        'download CSV' button.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
