body {
    background-color: white;
    font-size: 18px;
}

h1, h2 {
    text-align: center;
    letter-spacing: 3px;
    font-weight: 200;
    padding-bottom: 2em;
}

form {
    display: block;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border: 2px dotted black;
    padding: 3%;
}

li {
    display: block !important;
    margin-bottom: 10px !important;
}

input[type=radio], input[type=checkbox] {

    display: none;
}

.btn-group {
    margin: 5px;
}

input:checked {
    background-color: #000;
}

label {
    font-weight: 200;
}

label.active {

    background-color: rgba(98, 203, 203, 1);
    color: white;
}

option {
    color: blue;
}

.select-style {
    border: 1px solid #ccc;
    width: 180px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("/app/images/arrow.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.error {
    color: red;
    font-size: 18px;
}

.preview {
    background-color: white;
    width: 40%;
    float: left;
}

.navbar a {

    font-weight: 200;
    text-transform: uppercase;
}

.navbar-header {
    width: 400px;
}

.navbar-default .navbar-brand {

    color: inherit;
}

.panel  {
    font-weight: 200;
    -webkit-box-shadow: -7px 7px 41px -2px rgba(0,0,0,0.44);
    -moz-box-shadow: -7px 7px 41px -2px rgba(0,0,0,0.44);
    box-shadow: -7px 7px 41px -2px rgba(0,0,0,0.44);

}

.btn-success:focus {
    background-color: rgba(98, 203, 203, 1);
    border: none;
    outline: none;
}

.btn-success:active {
    background-color: #4F4E4E ;
}

.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #4F4E4E;
    border-color: #4F4E4E;

}

.btn-success:active:focus {
    color: #fff;
    background-color: #4F4E4E;
    border-color: #4F4E4E;
}

.open>.dropdown-toggle.btn-success:hover, .open>.dropdown-toggle.btn-success:active,
.open>.dropdown-toggle.btn-success:focus{
    color: #fff;
    background-color: #4F4E4E;
    border-color: #4F4E4E;
}

.btn-group.open .dropdown-toggle {
    color: #fff;
    background-color: #4F4E4E;
    border-color: #4F4E4E;

}

.alert-success {
    color: grey;
    background-color: aliceblue;
    border-color: gainsboro;
    white-space: normal;

}

.btn-danger {
    background-color: firebrick;
    border: none;
}

.panel-success .panel-heading {

    background-color: #4F4E4E ;
    color: white;
    letter-spacing: 2px;
    border: none;
}

.panel-info .panel-heading {

    background-color: lightgray;
    color: grey;
    border: none;
    font-weight: 400;
    letter-spacing: 2px;

}

.panel-default .panel-heading {

    background-color: gainsboro;
    color: black;
}

.panel-default {
    border-color: white !important;

}
/*
.dropdown-toggle {
    margin: 5%
}*/

.dropdown-menu li {

    margin: 15px !important;
    border-bottom: 1px dotted black;
}

.panel-success {
    border-color: transparent;
}

.alert {
    display: none;
    width: 300px;
    font-size: 11px;
    white-space: normal;

}

.glyphicon-plus-sign {
    font-size: 35px;
    color: rgba(98, 203, 203, 1);

}


.glyphicon-plus-sign:hover {
    color: dimgray;
    cursor: pointer;

}

.glyphicon-question-sign {
    font-size: 20px;
    color: rgba(98, 203, 203, 1);
}

.glyphicon-question-sign:hover {
    color: dimgray;
    cursor: pointer;
}

.glyphicon-triangle-left, .glyphicon-triangle-right {
    font-size: 50px;
}

.input-group-btn {
    display: block !important;
    padding: 10px;
    margin-bottom: 8px !important;
    margin-top: 10px;
    background-color: crimson;
    white-space: normal;
}

.input-group-btn span {
    font-size: 30px;
    color: white;
    font-weight:200;
}

.radio {
    padding-top: 30px !important;
    height: 100px;
    border-radius: 65px !important;
}

.checkbox {
    height: 50px !important;
    width: 150px !important;
    border-radius: 20px !important;
    background-color: white !important;
    color: black !important;
}

.question h4 {
    text-align: center;
}

.glyphicon-menu-left, .glyphicon-menu-right {
    font-size: 50px;
    color: grey;
}

.glyphicon-star {
    font-size: 3em;
    cursor: pointer;
}

.row-padded {

    padding: 10%;
}

.dropdown-menu {
    min-width: 260px;
}

.glyphicon-star:hover {
    color: salmon;
}

.btn-success {
    background-color: rgba(98, 203, 203, 1);
    color: white;
    border: none;
    white-space: normal;
    text-align: left;

}

.btn-success:hover {
    background-color: dimgray;
    border-color: white;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn-group .btn-danger, .btn-group .btn-warning {
    margin-top: 10px;
    border-radius: 5px;
    display: block;

}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.logo {

    height: 150px;

}

#previewBox {
    width: 80%;
}

 h3 {
     text-align: center;
 }

#menubuttons {
    margin: auto;
    text-align: center;
    padding-top: 2em;
}

#menubuttons .btn-success {
    width: 220px;
    height: 50px;
    font-weight: 200;
    font-size: 18px;
    text-align: left;
    background-color: rgba(98, 203, 203, 1);
    border: none;
    color: white;
}

#menubuttons .btn-success:hover {
    background-color: grey;
}

#menubuttons .btn-success .glyphicon {
    padding-right: 10px;
}

#submitButton {
    margin-right: 40px;
}

#displayQuestions {
    width: 443px;
    margin-top: 30%
}

#submitButton .btn-success {
    font-size: 30px;
    border-radius: 20px;
    margin-right: 40px;

}

#clients {
    max-width: 580px;
    max-height: 400px;
    padding-left: 50px;
}

#saveSurvey .btn-success {
    font-size: 20px;
}

#slide1_container {
    width: 500px;
    overflow: hidden; /* So the sliding bit doesn't stick out. */
}


#slide1_images {
    /* This is the bit that moves. It has 4 images, so 4 * 450 = 1800. You could use javascript
    to work this out instead by counting images. */
    width: 900px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: translateX(0px);
}

#slide1_images .question {
    padding: 0;
    margin: 0;
    float: left; /* All the images are in a row next to each other. */
    width: 500px;
}


#existingSurveys {
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    position:absolute;
    left:calc(100% - 750px);
    z-index: 2000;
}

#thisSurvey {
    margin-top: 600px;
    transition:1s ease-in-out;
    -webkit-transition:1s;
    -moz-transition:1s;
    top:calc(100% + 300px);
    opacity: 0;
}

#newSurvey {
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    position:absolute;
    left:calc(100% - 850px);
    z-index: 1000;
}

#newQuestions {
    margin-top: 600px;
    transition:1s ease-in-out;
    -webkit-transition:1s;
    -moz-transition:1s;
    top:calc(100% + 700px);
    opacity: 0;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

#skipLogic input[type=checkbox] {
    display: block;
}

#skipLogic input[type=text]{
    display: flex;
}

.row-padded {

    padding: 10%;
}


.answers {
    padding: 30px;
}

#other {
    display: block;
}

.btn-default {

    display: block;
    color: white;
    padding: 10px;
    margin-bottom: 8px;
    margin-top: 10px;
    background-color: rgba(98, 203, 203, 1);
    white-space: normal;


}



input[type=text] {

    font-size: 20px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgba(98, 203, 203, 1); /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media only screen and (min-device-width: 275px) and (max-device-width: 667px) and (orientation : portrait)
{
    .container {
        width: 100%;
    }

    .label {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        font-size: 20px;
    }

    .input-group-btn {

        height: 170px;
        font-size: 70px;
        margin-left: 0;
        text-align: center;
        white-space: normal;
    }

    .input-group-btn span {
        font-size: 50px;
        font-weight: 400;
    }


    .form-control {
        font-size: 30px;
        height: 64px;
    }

    h2 {
        font-size: 50px;
    }

    #slide1_container {
        width: 500px;
        margin-right: 300px;
    }

    #slide1_images .question {
        width: 500px;
    }

    .glyphicon-triangle-left, .glyphicon-triangle-right {
        font-size: 100px;
    }

    select,
    textarea,
    input[type=text],
    .form-control
    {
        font-size: 20px;
    }

    select:focus,
    textarea:focus,
    input:focus,
    .form-control{
        font-size: 20px;
        background: #eee;
    }



    #submitButton {
        margin-right: 40px;
    }

    #submitButton .btn-success {
        font-size: 30px;
        width: 160px;
        height: 160px;
        border-radius: 100px;
        margin-right: 40px;

    }

}

@media screen and (min-width:1200px) {

    #mobile .col-lg-12 {
        width: 80%;
    }

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input[type=text],
    .form-control
   {
        font-size: 20px;
    }

    select:focus,
    textarea:focus,
    input:focus,
    .form-control:focus
    {
        font-size: 20px;
        background: #eee;
    }
}

/* charts stuff */


