form {
    display: block;
    border: 5px solid groove;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    width: 40%;

}

body {
    background-color: white;
    font-size: 18px;
}

h1, h2 {
    text-align: center;
}

#menubuttons {

    margin: auto;
    text-align: center;
    padding-top: 1.5em;
}

.error {

    color: red;
    font-size: 18px;
}

li {
    display: block !important;
    margin-bottom: 10px !important;
}

.preview {

 background-color: white;
    width: 40%;
    float: left;

}

label span {

}

input[type=radio], input[type=checkbox] {

    display: none;

}

label.active {

    background-color: mediumpurple;
    color: black;

}

form {

    background-color: white;
    border: 2px dotted black;
    padding: 3%;
    width: 90%;

}

.dropdown-toggle {

    margin: 5%
}

input:checked {
    background-color: #000;
}

.glyphicon-star {

    font-size: 3em;
    cursor: pointer;

}

.glyphicon-star:hover {

    color: salmon;

}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;

}

#slide1_container {
    width: 300px;
    overflow: hidden; /* So the sliding bit doesn't stick out. */
    margin: 0 auto;
}

#slide1_images {
    /* This is the bit that moves. It has 4 images, so 4 * 450 = 1800. You could use javascript
    to work this out instead by counting images. */
    width: 900px;
    -webkit-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -o-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;

}

#slide1_images .question {
    padding: 0;
    margin: 0;
    float: left; /* All the images are in a row next to each other. */
    width: 300px;
}

.input-group-btn {

    display: block !important;
    width: 40% !important;
    padding: 10px;
    margin-bottom: 8px !important;
    margin-top: 10px;
    margin-left: 30%;
    background-color: salmon;

}

.input-group-btn span {

    font-size: 20px;
    color: white;

}

.radio {

    padding-top: 30px !important;
    height: 100px !important;
    border-radius: 65px !important;
}

.checkbox {

    height: 50px !important;
    width: 150px !important;
    border-radius: 20px !important;

}

.question h4 {
    text-align: center;
}

.glyphicon-menu-left, .glyphicon-menu-right {

    font-size: 50px;
    color: grey;

}

#existingSurveys {
    transition:2s;
    -webkit-transition:2s;
    -moz-transition:2s;
    position:absolute;
    left:calc(100% - 750px);
}

.panel {
    border: 2px dotted black !important;
}

.panel-heading {

    background-color: white ;
    color: black !important;
    border-bottom: 2px dotted black !important;
}

#thisSurvey {

    transition:2s ease-in-out;
    -webkit-transition:2s;
    -moz-transition:2s;
    position:absolute;
    left: 500px;
    top:calc(100% + 450px);
    opacity: 0;

}

.dropdown-menu li {

    margin: 15px !important;
    border-bottom: 1px dotted black;
}

.row p {

    opacity: 0;
}

.row .btn:hover + p {
     opacity: 1;

}

.alert {
    display: none;
}





